.app-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px 10%;
    height: calc(100vh - 50px);
}

.content{
    display: flex;
    flex: 1 1 0%;
    background-color: #e9f5e1;
    border-radius: 10px;
    justify-content: center;
    align-items:center;
    border: 1px solid #00a278;
}